[submodule "OpenGLProject/Dependencies/bullet"]
	path = OpenGLProject/Dependencies/bullet
	url = https://github.com/bulletphysics/bullet3
[submodule "OpenGLProject/Dependencies/freetype"]
	path = OpenGLProject/Dependencies/freetype
	url = https://github.com/freetype
[submodule "OpenGLProject/Dependencies/glew-2.1.0"]
	path = OpenGLProject/Dependencies/glew-2.1.0
	url = https://glew.sourceforge.net
[submodule "OpenGLProject/Dependencies/glfw-3.3.8.bin.WIN64"]
	path = OpenGLProject/Dependencies/glfw-3.3.8.bin.WIN64
	url = https://www.glfw.org
[submodule "OpenGLProject/Dependencies/glm"]
	path = https://github.com/g-truc/glm
	url = https://github.com/freetype
[submodule "OpenGLProject/Dependencies/stb-master"]
	path = OpenGLProject/Dependencies/stb-master
	url = https://github.com/nothings/stb